<header>
    <h1>Add New Customer</h1> 
</header>

<form method="post" action="/cars" method="POST" class="form">
<div>
    <label for="title" class="form">Year:</label>
    <input type="text" id="year" name="year" class="form">
</div>
<div>
    <label for="title" class="form">Make:</label>
<input type="text" id="make" name="make" class="form">
</div>
<div>
    <label for="title" class="form">Model:</label>
<input type="text" id="model" name="model" class="form">
</div>
<div>
    <label for="title" class="form">Name:</label>
<input type="text" id="name" name="name" class="form">
</div>
<div>
    <label for="title" class="form">Issue:</label>
<input type="text" id="issue" name="issue" class="form">
</div>
<div class="text-center m-3">
    <input type="submit" class="btn btn-primary" value="Post it!"> 
            <button href="/cars" class="btn btn-danger">Go Back</button>
  
</div>
</form>
{{!-- END --}}