<link rel="stylesheet" href="style.css">
<header>
    <h1>Add new customer</h1> 
</header>

<form method="post" action="/cars" method="POST">
<div>
    <label for="title" class="my-3">Year:</label>
    <input type="text" id="year" name="year" class="form-control">
</div>
<div>
    <label for="title" class="my-3">Make:</label>
<input type="text" id="make" name="make" class="form-control">
</div>
<div>
    <label for="title" class="my-3">Model:</label>
<input type="text" id="model" name="model" class="form-control">
</div>
<div>
    <label for="title" class="my-3">Name:</label>
<input type="text" id="name" name="name" class="form-control">
</div>
<div>
    <label for="title" class="my-3">Issue:</label>
<input type="text" id="issue" name="issue" class="form-control">
</div>
<div class="text-center m-3">
    <input type="submit" class="btn btn-primary" value="post it!"> 
            <a href="/cars" class="btn btn-danger">Go Back</a>
  
</div>
</form>